/* Analytics */
.analytics {
    display: none;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "info"
      "orders";
}

.analytics .info {
    grid-area: info; 
    width: 100%;
    height: 100%;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 6px;
    grid-auto-flow: row;
    grid-template-areas:
      "checkouts spent";
    padding: 6px 6px;
    background: #a3afe5;
}

.analytics .info h5 {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
}

.analytics .info h3 {
    margin-top: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}

.analytics .outbox {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 10px;
}

.analytics .outbox i {
    font-size: 35px;
}

.analytics #checkouts .outbox {
    background: #ff8989;
}

.analytics #checkouts .outbox i {
    color: #890000;
}

.analytics #spent .outbox {
    background: #80ff80;
}

.analytics #spent .outbox i {
    color: #008000;
}

.analytics #checkouts {
    grid-area: checkouts; 
    background: #3852c6;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.analytics #spent {
    grid-area: spent; 
    background: #3852c6;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.analytics .orders {
    grid-area: orders; 
    background: #a3afe5;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: auto;


}

.analytics .orders h3 {
    text-align: center;
    line-height: 264px;
    font-size: 14px;
    color: var(--dark-blue-color);
    margin: 0;
}

.analytics .orders::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(52, 76, 183, 0.7);
}

.analytics .orders::-webkit-scrollbar-track {
    background: #a3afe5;
    border-radius: 100px;
}

.analytics .orders .card {
    display: flex;
    align-items: center;
    padding: 2px 6px;
    width: calc(100% - 10px);
    margin: 3px auto;
    border-radius: 4px;
    background: #3852c6;
}

.analytics .orders .card:first-child {
    margin-top: 6px;
}

.analytics .orders .card:last-child {
    margin-bottom: 6px;
}

.analytics .orders .card #product,
.analytics .orders .card #site,
.analytics .orders .card #price {
    color: var(--white-color);
}

.analytics .orders .card > div{
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.analytics .orders .card img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.analytics .orders .card #delete > #delete {
    padding: 0px 0px;
    color: var(--white-color);
    font-size: 22px;
    cursor: pointer;
}