/* dashboard items */
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 108.5px 108.5px 108.5px;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "zalando luisaviaroma cisalfa"
      "snipes solebox awlab-here"
      "supreme sns-naked kith";
}
  
.item {
    background: var(--white-color);
    border-radius: 4px;
}

/* zalando */
.item#zalando { 
    grid-area: zalando; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

.item#zalando > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/zalando.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#zalando > #info { 
    grid-area: info; 
}

.item#zalando .mode {
    font-size: 12px;
    margin: 0 6px;
}

.item#zalando .delay {
    font-size: 12px;
    margin: 0 6px;
}

.item#zalando > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#zalando > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#zalando > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#zalando > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#zalando {
    display: none;
    width: 100%;
    height: 100%;
}

/* luisaviaroma */
.item#luisaviaroma { 
    grid-area: luisaviaroma; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

.item#luisaviaroma > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/lvr.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#luisaviaroma > #info { 
    grid-area: info; 
}

.item#luisaviaroma > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#luisaviaroma > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#luisaviaroma > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#luisaviaroma > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#luisaviaroma {
    display: none;
    width: 100%;
    height: 100%;
}

/* cisalfa */
.item#cisalfa { 
    grid-area: cisalfa; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

.item#cisalfa > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/cisalfa.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#cisalfa > #info { 
    grid-area: info; 
}

.item#cisalfa > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#cisalfa > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#cisalfa > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#cisalfa > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#cisalfa {
    display: none;
    width: 100%;
    height: 100%;
}

/* snipes */
.item#snipes { 
    grid-area: snipes; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

.item#snipes > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/snipes.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#snipes > #info { 
    grid-area: info; 
}

.item#snipes > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#snipes > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#snipes > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#snipes > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#snipes {
    display: none;
    width: 100%;
    height: 100%;
}

/* solebox */
.item#solebox { 
    grid-area: solebox;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

.item#solebox > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/solebox.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#solebox > #info { 
    grid-area: info; 
}

.item#solebox > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#solebox > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#solebox > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#solebox > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#solebox {
    display: none;
    width: 100%;
    height: 100%;
}

/* awlab-here */
.item#awlab-here { 
    grid-area: awlab-here; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

.item#awlab-here > #logo { 
    grid-area: logo; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "awlab here"; 
}
      
.item #awlab { 
    grid-area: awlab; 
    background-image: url(../images/modules/awlab.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.item #here { 
    grid-area: here; 
    background-image: url(../images/modules/here.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item#awlab-here > #info { 
    grid-area: info; 
}

.item#awlab-here > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#awlab-here > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#awlab-here > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#awlab-here > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#awlab-here {
    display: none;
    width: 100%;
    height: 100%;
}

/* supreme */
.item#supreme { 
    grid-area: supreme; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

.item#supreme > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/supreme.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#supreme > #info { 
    grid-area: info; 
}

.item#supreme > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#supreme > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#supreme > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#supreme > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#supreme {
    display: none;
    width: 100%;
    height: 100%;
}

/* sns-naked */
.item#sns-naked { 
    grid-area: sns-naked; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

.item#sns-naked > #logo { 
    grid-area: logo; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sns naked"; 
}
      
.item #sns { 
    grid-area: sns; 
    background-image: url(../images/modules/sns.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item #naked { 
    grid-area: naked; 
    background-image: url(../images/modules/naked.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item#sns-naked > #info { 
    grid-area: info; 
}

.item#sns-naked > #settings { 
    grid-area: settings; 
}

.item#sns-naked > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#sns-naked > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#sns-naked > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#sns-naked > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#sns-naked {
    display: none;
    width: 100%;
    height: 100%;
}

/* kith */
.item#kith { 
    grid-area: kith; 
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

.item#kith > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/kith.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
.item#kith > #info { 
    grid-area: info; 
}

.item#kith > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

.item#kith > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

.item#kith > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

.item#kith > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

.dashboard#kith {
    display: none;
    width: 100%;
    height: 100%;
}

#test { 
    grid-area: test; 
}