/* Home */
.home {
    display: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "info"
      "license";
      padding: 6px 6px;
}

.home p, 
.home h3 {
    color: var(--white-color)
}

.home #info {
    grid-area: info;
    background: var(--blue-color);
    border-radius: 4px;
    padding: 0px 6px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "utility avatar";
}

.home #utility {
    grid-area: utility;
}

.home #avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home #avatar img {
    border-radius: 4px;
    width: 80px;
    height: 80px;
}

.home #license {
    grid-area: license;
    background: var(--blue-color);
    border-radius: 4px;
    padding: 0px 6px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "title"
      "container";
}

.home #container {
    grid-area: container;
    display: grid;
    grid-template-columns: 200px 30px 30px;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "key show_license copy_license";
    align-items: center;
    justify-content: center;
}

.home i {
    padding: 0px 0px;
    font-size: 22px;
    cursor: pointer;
    color: var(--white-color);
}

.home #license #container {
    background: #293C92;
    border-radius: 4px;
    margin: 20px 20px;
}

.home #license #hidden {
    grid-area: key;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.home #license #key {
    grid-area: key;
    display: none;
    align-items: center;
    justify-content: center;
}

.home #license #show {
    grid-area: show_license;
}

.home #license #copy {
    grid-area: copy_license;
}