/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    width: 550px;
    height: 350px;
    display: flex;
    background-image: url('../images/background.svg');
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

button {
    border: 0; 
    background: transparent;
}

label {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    display: inline-block;
    width: 70px;
    text-align: left;
}

:root{
    --white-color: #fff;
    --yellow-color: #EBE645;
    --light-blue-color: #577BC1;
    --blue-color: #344CB7;
    --dark-blue-color: #000957;
}

::selection{
    color: var(--white-color);
} 

/* loader */
.loader {
    position: absolute;
    transform: translate(-50%, -50%) scale(2);
    z-index: 101;
}
.loader svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.loader svg polyline#back {
    stroke: rgba(110,123,242,0.3);
}
.loader svg polyline#front {
    stroke: #6e7bf2;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-o-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 45px;
    padding: 14px 5px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 160px;
}
  
.sidebar .logo_content .logo{
    position: absolute;
    color:var(--white-color);
    display: flex;
    height:20px;
    width:130px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity:1;
    pointer-events: none;
}

.sidebar #btn{
    position: absolute;
    color: var(--white-color);
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 35px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 35px;
    width: 100%;
    margin: 4px 0;
    list-style: none;
    line-height: 35px;
}

.sidebar ul li a{
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
  
.sidebar ul li a:hover{
    color: var(--blue-color);
    background: var(--white-color);
}

.sidebar ul li i{
    font-size: 18px;
    font-weight: 400;
    height: 35px;
    min-width: 35px;
    border-radius: 8px;
    line-height: 35px;
    text-align: center;
}

.sidebar .links_name{
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name{
    transition: 0s;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .content{
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .content .user{
    position: relative;
    padding: 22px 6px;
    height: 60px;
    transition: all 0.4s ease;
}

.content .user .user_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.active .user .user_details{
    opacity: 1;
    pointer-events: auto;
}

.content .user .user_details img{
    height:30px;
    width:30px;
    object-fit: cover;
    border-radius: 12px;
}

.name_version{
    margin-left: 4px;
}

.user_details .name{
    font-size: 12px;
    font-weight: 400;
}

.user_details .version{
    font-size: 10px;
    font-weight: 400;
}
  
#logout{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 35px;
    line-height: 35px;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar.active .user #logout{
    left:90%;
    background:none;
}

/* content */
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 45px);
    left: 45px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    overflow-y: auto;
}

.sidebar.active ~ .home_content{
    z-index: 100;
    width: calc(100% - 160px);
    left: 160px;
}

/* Change the placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255,0.4)
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--blue-color) inset !important;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    font-family: "Poppins" , sans-serif;
}

/* Change text in autofill textbox */
input:-webkit-autofill{
    -webkit-text-fill-color: var(--white-color) !important;
}

input {
    text-indent: 4px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 21px;
    font-size: 12px;
}

::selection {
    background: rgba(255,255,255,0.4); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba(255,255,255,0.4); /* Gecko Browsers */
}

select:invalid {
  color: rgba(255,255,255,0.4);
}

select {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    background: var(--blue-color);
    color: var(--white-color);
    outline: 0;
    border: 0;
    border-radius: 4px;
    height: 21px;
    font-size: 12px;
}

.select select::-ms-expand {
    display: none;
}
.select select:hover,
.select select:focus {
    color: var(--white-color);
    background: var(--blue-color);
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--blue-color);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.7);
}

/* glass effect */
.glass {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
    z-index: 100;
}

.glass.hide {
    opacity: 0;
}

/* switch */
.checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue-color);
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
    border: 1px solid var(--blue-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 1px;
    background-color: var(--white-color);
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
}

input:checked + .slider {
    background-color: var(--blue-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--blue-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background-color: var(--white-color);
}

.slider.round {
    border-radius: 17px;
    display: inline-block;
}

.slider.round:before {
    border-radius: 50%;
    display: inline-block;
}