/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    width: 550px;
    height: 350px;
    display: flex;
    background-image: url('../images/background.svg');
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

button {
    border: 0; 
    background: transparent;
}

:root{
    --black-color:  #11101d;
    --white-color: #fff;
    --sky-color: #E4E9F7;
    --light-black: #1d1b31;
    --blue-color: #000957;
}

::selection{
    color: var(--white-color);
} 

/* loader */
.loader {
    position: absolute;
    transform: translate(-50%, -50%) scale(2);
    z-index: 101;
}
.loader svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.loader svg polyline#back {
    stroke: rgba(110,123,242,0.3);
}
.loader svg polyline#front {
    stroke: #6e7bf2;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-o-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 45px;
    padding: 14px 5px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 160px;
}
  
.sidebar .logo_content .logo{
    position: absolute;
    color:var(--white-color);
    display: flex;
    height:20px;
    width:130px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity:1;
    pointer-events: none;
}

.sidebar #btn{
    position: absolute;
    color: var(--white-color);
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 35px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 35px;
    width: 100%;
    margin: 4px 0;
    list-style: none;
    line-height: 35px;
}

.sidebar ul li a{
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
  
.sidebar ul li a:hover{
    color: var(--blue-color);
    background: var(--white-color);
}

.sidebar ul li i{
    font-size: 18px;
    font-weight: 400;
    height: 35px;
    min-width: 35px;
    border-radius: 8px;
    line-height: 35px;
    text-align: center;
}

.sidebar .links_name{
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name{
    transition: 0s;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .content{
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .content .user{
    position: relative;
    padding: 22px 6px;
    height: 60px;
    transition: all 0.4s ease;
}

.content .user .user_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.active .user .user_details{
    opacity: 1;
    pointer-events: auto;
}

.content .user .user_details img{
    height:30px;
    width:30px;
    object-fit: cover;
    border-radius: 12px;
}

.name_version{
    margin-left: 4px;
}

.user_details .name{
    font-size: 12px;
    font-weight: 400;
}

.user_details .version{
    font-size: 10px;
    font-weight: 400;
}
  
#logout{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 35px;
    line-height: 35px;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar.active .user #logout{
    left:90%;
    background:none;
}

/* content */
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 45px);
    left: 45px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    overflow-y: auto;
}

.sidebar.active ~ .home_content{
    z-index: 100;
    width: calc(100% - 160px);
    left: 160px;
}

/* dashboard items */
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 108.5px 108.5px 108.5px 108.5px;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "zalando luisaviaroma cisalfa"
      "snipes solebox awlab-here"
      "supreme sns-naked kith"
      "test test test";
}
  
.item {
    background: var(--white-color);
    border-radius: 4px;
}

/* zalando */
#zalando { 
    grid-area: zalando; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

#zalando > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/zalando.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#zalando > #info { 
    grid-area: info; 
}

#zalando > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#zalando > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#zalando > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#zalando > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#zalando {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* luisaviaroma */
#luisaviaroma { 
    grid-area: luisaviaroma; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

#luisaviaroma > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/lvr.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#luisaviaroma > #info { 
    grid-area: info; 
}

#luisaviaroma > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#luisaviaroma > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#luisaviaroma > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#luisaviaroma > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#luisaviaroma {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* cisalfa */
#cisalfa { 
    grid-area: cisalfa; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

#cisalfa > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/cisalfa.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#cisalfa > #info { 
    grid-area: info; 
}

#cisalfa > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#cisalfa > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#cisalfa > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#cisalfa > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#cisalfa {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* snipes */
#snipes { 
    grid-area: snipes; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px;
}

#snipes > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/snipes.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#snipes > #info { 
    grid-area: info; 
}

#snipes > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#snipes > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#snipes > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#snipes > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#snipes {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* solebox */
#solebox { 
    grid-area: solebox;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

#solebox > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/solebox.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#solebox > #info { 
    grid-area: info; 
}

#solebox > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#solebox > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#solebox > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#solebox > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#solebox {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* awlab-here */
#awlab-here { 
    grid-area: awlab-here; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

#awlab-here > #logo { 
    grid-area: logo; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "awlab here"; 
}
      
#awlab { 
    grid-area: awlab; 
    background-image: url(../images/modules/awlab.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#here { 
    grid-area: here; 
    background-image: url(../images/modules/here.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#awlab-here > #info { 
    grid-area: info; 
}

#awlab-here > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#awlab-here > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#awlab-here > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#awlab-here > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#awlab-here {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* supreme */
#supreme { 
    grid-area: supreme; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

#supreme > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/supreme.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#supreme > #info { 
    grid-area: info; 
}

#supreme > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#supreme > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#supreme > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#supreme > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#supreme {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* sns-naked */
#sns-naked { 
    grid-area: sns-naked; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

#sns-naked > #logo { 
    grid-area: logo; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sns naked"; 
}
      
#sns { 
    grid-area: sns; 
    background-image: url(../images/modules/sns.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#naked { 
    grid-area: naked; 
    background-image: url(../images/modules/naked.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#sns-naked > #info { 
    grid-area: info; 
}

#sns-naked > #settings { 
    grid-area: settings; 
}

#sns-naked > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#sns-naked > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#sns-naked > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#sns-naked > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#sns-naked {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* kith */
#kith { 
    grid-area: kith; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
        "logo"
        "info"
        "settings";  
    padding: 2px; 
}

#kith > #logo { 
    grid-area: logo; 
    background-image: url(../images/modules/kith.png);
    background-size: contain;
    background-repeat: no-repeat;
}
      
#kith > #info { 
    grid-area: info; 
}

#kith > #settings { 
    grid-area: settings; 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "switch button"; 
}

#kith > #settings > .switch { 
    grid-area: switch;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 6px 6px;
}

#kith > #settings > .button { 
    grid-area: button;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
}

#kith > #settings > .button > button > #button { 
    padding: 6px 6px;
    font-size: 22px;
    cursor: pointer;
}

.dashboard#kith {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

#test { 
    grid-area: test; 
}

/* other pages */
.profiles {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.proxy {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.analytics {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.settings {
    display: none;
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* glass effect */
.glass {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
    z-index: 100;
}

.glass.hide {
    opacity: 0;
}

/* switch */
.checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
    border: 1px solid #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 1px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    display: inline-block;
}

input:checked + .slider {
    background-color: #000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    background-color: #fff;
}

.slider.round {
    border-radius: 17px;
    display: inline-block;
}

.slider.round.small {
    border-radius: 8.5px;
    width: 7.5px;
    height: 4.5px;
    display: inline-block;
}

.slider.round:before {
    border-radius: 50%;
    display: inline-block;
}