/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    width: 550px;
    height: 350px;
    display: flex;
    /* background-color: #000957; */
    background-image: url('../images/background.svg');
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

:root{
    --black-color:  #11101d;
    --white-color: #fff;
    --sky-color: #E4E9F7;
    --light-black: #1d1b31;
    --blue-color: #000957;
}

::selection{
    color: var(--white-color);
} 

/* loader */
.loader {
    position: absolute;
    transform: translate(-50%, -50%) scale(2);
    z-index: 101;
}
.loader svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.loader svg polyline#back {
    stroke: rgba(110,123,242,0.3);
}
.loader svg polyline#front {
    stroke: #6e7bf2;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@-o-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}
@keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 45px;
    padding: 14px 5px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 160px;
}
  
.sidebar #btn{
    position: absolute;
    color: var(--white-color);
    top: 6px;
    left: 50%;
    font-size: 22px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 35px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 35px;
    width: 100%;
    margin: 4px 0;
    list-style: none;
    line-height: 35px;
}

.sidebar ul li a{
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
  
.sidebar ul li a:hover{
    color: var(--blue-color);
    background: var(--white-color);
}

.sidebar ul li i{
    font-size: 15px;
    font-weight: 400;
    height: 35px;
    min-width: 35px;
    border-radius: 8px;
    line-height: 35px;
    text-align: center;
}

.sidebar .links_name{
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.sidebar.active .links_name{
    transition: 0s;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .content{
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .content .user{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
}

.content .user .user_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.active .user .user_details{
    opacity: 1;
    pointer-events: auto;
}
  
#logout{
    position: absolute;
    bottom: 5px;
    left: 45%;
    transform: translateX(-50%);
    min-width: 35px;
    line-height: 35px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar.active .user #logout{
    left:80%;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 45px);
    left: 45px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content{
    z-index: 100;
    width: calc(100% - 160px);
    left: 160px;
}

.home_content .text{
    font-size: 25px;
    font-weight: 600;
    color: var(--light-black);
    margin-bottom: 15px;
}

.home_content p{
    margin-bottom: 15px;
}

/* content */


/* glass effect */
.glass {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity 1s;
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
    z-index: 100;
}

.glass.hide {
    opacity: 0;
}