/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    width: 550px;
    height: 350px;
    display: flex;
    background-image: url('../images/background.svg');
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

button {
    border: 0; 
    background: transparent;
}

:root{
    --white-color: #FFFFFF;
    --grey-color: #DDDDDD;
    --yellow-color: #EBE645;
    --light-blue-color: #577BC1;
    --blue-color: #344CB7;
    --dark-blue-color: #000957;
}

.logo {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20px;
    z-index: 0;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "key bind reset";
    align-content: center; 
    padding-top: 50px;
    z-index: 1;
}
  
#key { 
    grid-area: key; 
    text-align: center;
    width: 200px;
    outline: none;
}

#bind { 
    grid-area: bind; 
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

#reset { 
    grid-area: reset; 
    font-size: 22px;
    cursor: pointer;
    color: var(--dark-blue-color);
}

/* Change the placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255,0.4)
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--blue-color) inset !important;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    font-family: "Poppins" , sans-serif;
}

/* Change text in autofill textbox */
input:-webkit-autofill{
    -webkit-text-fill-color: var(--grey-color) !important;
}

input {
    text-indent: 4px;
    color: var(--black-color);
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
    outline: none;
    width: 100%;
    height: 21px;
    font-size: 12px;
}

input::placeholder{
    color: var(--grey-color);
}