input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* =================================== ZALANDO ===================================*/
.dashboard#zalando {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "logo"
      "settings"
      "init"
      "coupon";
}

.dashboard#zalando .run#zalando {
    display: grid;
    grid-area: settings;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "settings sizing";
}

.dashboard#zalando .logo {
    grid-area: logo;
    display: flex;
    background: var(--white-color);
    border-radius: 4px;
}

.dashboard#zalando .logo img {
    margin: auto;
} 

.dashboard#zalando #settings {
    grid-area: settings;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "mode"
      "delay";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#zalando .mode {
    grid-area: mode;
}

.dashboard#zalando .delay {
    grid-area: delay;
}

.dashboard#zalando .sizing {
    grid-area: sizing;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "single"
      "range";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#zalando .single {
    grid-area: single;
}

.dashboard#zalando .range {
    grid-area: range;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "min max";
}

.dashboard#zalando #min_selection {
    grid-area: min;
}

.dashboard#zalando #max_selection {
    grid-area: max;
}

.dashboard#zalando .init#zalando {
    grid-area: init;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "coupons dummy"
      "coupons payment"
      "play play";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#zalando .dummy {
    grid-area: dummy;
}

.dashboard#zalando .play {
    grid-area: play;
}

.dashboard#zalando .coupons {
    grid-area: coupons;
}

.dashboard#zalando .payment {
    grid-area: payment;
}

.dashboard#zalando .play {
    grid-area: play;
    cursor: pointer;
    background: var(--blue-color);
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.dashboard#zalando .play .option {
    font-size: 13px;
    line-height: 18px;
    vertical-align: middle;
}

.dashboard#zalando .play span {
    padding-bottom: 0px;
    display: inline-block;
}

.dashboard#zalando .play #play {
    font-size: 18px;
    vertical-align: middle;
}

.dashboard#zalando .play > a {
    color: var(--white-color);
    padding: 0px 2px;
    text-decoration: none;
    white-space: nowrap;
}

.dashboard#zalando .coupon#zalando {
    grid-area: coupon;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "email"
      "generate";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#zalando .generate {
    grid-area: generate;
    cursor: pointer;
    background: var(--blue-color);
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.dashboard#zalando .generate .option {
    font-size: 13px;
    line-height: 18px;
    vertical-align: middle;
}

.dashboard#zalando .generate span {
    padding-bottom: 0px;
    display: inline-block;
}

.dashboard#zalando .generate #generate {
    font-size: 18px;
    vertical-align: middle;
}

.dashboard#zalando .generate > a {
    color: var(--white-color);
    padding: 0px 2px;
    text-decoration: none;
    white-space: nowrap;
}

/* =================================== SNIPES ===================================*/
.dashboard#snipes {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65px 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "logo logo"
      "settings settings";
}

.dashboard#snipes .run#snipes {
    display: grid;
    grid-area: settings;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "settings sizing"
      "pid pid";
}

.dashboard#snipes .logo {
    grid-area: logo;
    display: flex;
    background: var(--white-color);
    border-radius: 4px;
}

.dashboard#snipes .logo img {
    margin: auto;
} 

.dashboard#snipes #settings {
    grid-area: settings;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "mode"
      "delay"
      "steps_delay";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
    height: fit-content;
}

.dashboard#snipes .mode {
    grid-area: mode;
}

.dashboard#snipes .delay {
    grid-area: delay;
}

.dashboard#snipes .steps_delay {
    grid-area: steps_delay;
}

.dashboard#snipes .sizing {
    grid-area: sizing;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "single"
      "range";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
    height: fit-content;
}

.dashboard#snipes .single {
    grid-area: single;
}

.dashboard#snipes .range {
    grid-area: range;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "min max";
}

.dashboard#snipes #min_selection {
    grid-area: min;
}

.dashboard#snipes #max_selection {
    grid-area: max;
}

.dashboard#snipes .pid {
    grid-area: pid;
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "label pid pid_start";
}

.dashboard#snipes .pid #label {
    grid-area: label;
}

.dashboard#snipes .pid #pid {
    grid-area: pid;
}

.dashboard#snipes .pid #pid_start {
    grid-area: pid_start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard#snipes .pid #pid_start svg:hover {
    cursor: pointer;
}

/* =================================== SOLEBOX ===================================*/
.dashboard#solebox {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "logo"
      "settings"
      "init"
      "coupon";
}

.dashboard#solebox .run#solebox {
    display: grid;
    grid-area: settings;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "settings sizing";
}

.dashboard#solebox .logo {
    grid-area: logo;
    display: flex;
    background: var(--white-color);
    border-radius: 4px;
}

.dashboard#solebox .logo img {
    margin: auto;
} 

.dashboard#solebox #settings {
    grid-area: settings;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "mode"
      "delay";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#solebox .mode {
    grid-area: mode;
}

.dashboard#solebox .delay {
    grid-area: delay;
}

.dashboard#solebox .sizing {
    grid-area: sizing;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "single"
      "range";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#solebox .single {
    grid-area: single;
}

.dashboard#solebox .range {
    grid-area: range;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "min max";
}

.dashboard#solebox #min_selection {
    grid-area: min;
}

.dashboard#solebox #max_selection {
    grid-area: max;
}

/* =================================== LUISAVIAROMA ===================================*/
.dashboard#luisaviaroma {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "logo"
      "settings"
      "init"
      "coupon";
}

.dashboard#luisaviaroma .run#lvr {
    display: grid;
    grid-area: settings;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "settings sizing"
      "reset items";
}

.dashboard#luisaviaroma .logo {
    grid-area: logo;
    display: flex;
    background: var(--white-color);
    border-radius: 4px;
}

.dashboard#luisaviaroma .logo img {
    margin: auto;
} 

.dashboard#luisaviaroma #settings {
    grid-area: settings;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "mode"
      "delay";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#luisaviaroma .mode {
    grid-area: mode;
}

.dashboard#luisaviaroma .delay {
    grid-area: delay;
}

.dashboard#luisaviaroma .sizing {
    grid-area: sizing;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "single"
      "range";
    background: var(--white-color);
    border-radius: 4px;
    padding: 6px 6px;
}

.dashboard#luisaviaroma .single {
    grid-area: single;
}

.dashboard#luisaviaroma .range {
    grid-area: range;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "min max";
}

.dashboard#luisaviaroma #min_selection {
    grid-area: min;
}

.dashboard#luisaviaroma #max_selection {
    grid-area: max;
}

.dashboard#luisaviaroma .background#reset {
    grid-area: reset;
    background: var(--white-color);
    padding: 6px;
    height: fit-content;
    border-radius: 4px;
}

.dashboard#luisaviaroma .reset {
    cursor: pointer;
    background: var(--blue-color);
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.dashboard#luisaviaroma .reset .option {
    font-size: 13px;
    line-height: 18px;
    vertical-align: middle;
}

.dashboard#luisaviaroma .reset span {
    padding-bottom: 0px;
    display: inline-block;
}

.dashboard#luisaviaroma .reset #reset {
    font-size: 18px;
    vertical-align: middle;
}

.dashboard#luisaviaroma .reset > a {
    color: var(--white-color);
    padding: 0px 2px;
    text-decoration: none;
    white-space: nowrap;
}

.dashboard#luisaviaroma .items {
    grid-area: items;
    background-color: var(--white-color);
    height: fit-content;
    padding: 6px;
    border-radius: 4px;
}